<h1> Calculate monthly payment </h1>

<form action ="/payment/results">
  
  <label for = "apr">APR</label>
  <input id="apr" type = "text" name = "users_apr">

  <label for = "year"> Number of years</label>
  <input id="year" type = "text" name = "users_year">

  <label for = "pv"> Principal</label>
  <input id="pv" type = "text" name = "users_pv">

  <button>Calculate monthly payment</button>
</form>
