<h1> Calculate the square root of a number </h1>

<form action ="/square_root/results">
  <label for = "square_root_calc">Enter a number</label>
  <input id="square_root_calc" type = "text" name = "square_root">
  <button>Calculate square root</button>
</form>
